body {
	margin: 0;
}

ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
}

nav {
	background: #0a0a0a;
	padding: 0 20px;
	justify-content: space-between;
}

h1, p, a{
	color: #fff;
}

nav, ul{
	display: flex;
	flex-direction: row;
}

li{
	padding: 0 20px;
}

li:hover, button:hover{
	cursor: pointer;
	opacity: 0.8;
	background-color: rgb(255, 255, 255, 0.2);
}

button{
	background: transparent;
	border: none;
	color: #fff;
	font-size: 36px;
	
	position: absolute;
	right: 10px;
	top: 10px;
	display: none;

}

button:focus ~ ul{
	height: 220px;
}
@media (max-width:700px) {
	nav, ul{
		flex-direction: column;
	}
	ul{
		text-align: center;
		margin: 0;
		height: 0;
	}
	nav{
		padding-top: 10px ;
		align-items: flex-start;
	}

	button{
		display: flex;
	}

	li, ul{
		width: 100%;
	}

	

}